
@{
    ViewBag.Title = "Error404 - Trang không tồn tại";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="content-wrapper">
    <img src="~/Public/images/eror404.jpg" style="margin-left:30%"/><br />
    <span class="test1" style="margin-left:40%"> Trang không tồn tại !</span>

</div>